/* lockscreen styling start */
.lockscreen-container {
    position: relative;
}
.lockscreen-time-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    background-image: url(../assests/windows-11-lock-screen.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    color: var(--clr-white);
    transition: var(--transition);
}
.lockscreen-time-container .time {
    font-size: 72px;
}
.lockscreen-time-container .full-date {  
    font-size: 20px;
    font-weight: 600;
}
.unlockscreen {
    transform: translateY(-110%);
}
/* lockscreen styling end */
/* lockscreen password stylintg start */
.lockscreen-password-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    position: relative;
    padding-top: 100px;
    transition: 1s all ease;
}
.lockscreen-password-container::before {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assests/windows-11-lock-screen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);    
}
.lockscreen-password-container div {
    z-index: 5;
}
.lockscreen-password-container .user-profile-logo {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 20px;
}
.lockscreen-password-container .user-profile-logo img {
    width: 100%;
    height: 100%;
}
.lockscreen-password-container .user-password-section {
    color: var(--clr-white);
    text-align: center;

}
.lockscreen-password-container .user-password-section h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.lockscreen-password-container .user-password-section form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lockscreen-password-container .user-password-section form input {
    border: none;
    width: 200px;
    height: 40px;
    padding-inline: 10px;
    font-size: 16px;
    background-color: white;
}
input::placeholder {
    color: var(--clr-gray);
}
.lockscreen-password-container .user-password-section form a {
    background-color: none;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.lockscreen-password-container .user-password-section form a img {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: var(--clr-gray-40);
}
.lockscreen-password-container .user-password-section p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
/* lockscreen password stylintg end */

/* Full window styling start */
.main-full-window-container {
    background-image: url(./assests/windows-11-lock-screen.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.taskbar-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: #FFFFFFA8;
}
.taskbar-container-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.nav-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
}
.nav-items .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transform: 1s all ease;
}
.nav-items .nav-item img {
    width: 25px;
    height: 25px;
}
.nav-items li:hover {
    background-color:#ffffffd3;
}
.nav-items .nav-item:active {
    scale: 0.8;
}
.nav-items:nth-child(2) {
    align-self: flex-end;
}

/* window button container styling start */
.windows-container {
    width: 40%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f2f2f2;
    position: absolute;
    left: 30%;
    top: 150%;
    /* transition: 0.1s all linear; */
}
.show-windows-container {
    width: 40%;
    height: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -54%);
}
.windows-container-center {
    width: 100%;
    height: 100%;
}
.windows-container-main {
    width: 100%;
    height: auto;
    padding: 15px 25px 10px 25px;
}
.window-searchbar {
    width: 100%;
    border-radius: 5px;
    border-bottom: 2px solid #00aeff;
}
.window-searchbar input {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    border: none;
    outline-width: 0px;
}
.window-all-apps {
    margin-top: 10px;
}
.windows-container-main .heading {
    width: 100%;
    color: black;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
}
.windows-container-main .right {
    font-size: 12px;
    float: right;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
}
.windows-container-main .right a {
    color: black;
    text-decoration: none;
}
.window-all-apps .apps {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 10px;
}
.window-all-apps .apps .app {
    width: 75px;
    height: 60px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.window-all-apps .apps .app:hover {
    background-color: white;
}
.window-all-apps .apps .app .app-icon {
    width: 30px;
    height: 30px;
}
.window-all-apps .apps .app .app-name {
    font-size: 14px;
}
.window-recommend-apps {
    margin-top: 10px;
    cursor: pointer;
}
.window-recommend-apps .recommend-apps {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.window-recommend-apps .recommend-app {
    width: auto;
    height: 50px;
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-items: center;
    align-content: space-evenly;
    border-radius: 5px;
    text-decoration: none;
}
.window-recommend-apps .recommend-app:hover {
    background-color: white;
}
.window-recommend-apps .recommend-app .app-icon {
    width: 40px;
    height: 30px;
}
.window-recommend-apps .recommend-app .heading {
    margin-left: 10px;
    text-decoration: none;
}
.window-recommend-apps .recommend-app .sub-head {
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}
.window-user {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
    padding-block: 5px;
}
.window-user .user {
    display: flex;
    justify-content: center;
    align-items: center;
}
.window-user .user .user-img{
    width: 50px;
    height: 50px;
    display: inline;
}
.window-user .user .user-name {
    margin-left: 15px;
    font-weight: 600;
}
.window-user .power-off button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.window-user .power-off button img {
    width: 20px;
    height: 20px;
}
/* window button container styling end */